@import "query.css";

.container {
  overflow-y: scroll;
  overflow-x: hidden;
  @media (max-width: $wide) {
    display: flex;
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
