@import "colors";

.search {
  background: #e0e0e0;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  @media (max-width: 960px) {
    min-height: 61px;
  }
}

.searchRow {
  display: flex;
  height: 42px;
  background: #fff;
  @media (max-width: 960px) {
    height: 30px;
  }
}

.searchBox {
  height: 100%;
  width: 100%;
  padding: 6px 0 0 6px;
  @media (max-width: 960px) {
    padding: 4px 0 0 4px;
  }

  & .input {
    padding-left: 8px;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @media (max-width: 960px) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.searchButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 2px;
  margin: 6px 6px 0 0;
  width: 54px;
  background: $blue;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  @media (max-width: 960px) {
    margin: 4px 4px 0 0;
    font-size: 12px;
    padding-bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &:active > * {
    opacity: 0.4;
  }
}

.suggestions {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
    background: transparent;
    visibility: hidden;
    width: 0px;
  }

  & .scroll {
    height: 100%;
    display: flex;
    flex-wrap: none;
    padding: 3px;
    @media (max-width: 960px) {
      padding: 2px;
    }
  }
}

.suggestion {
  margin: 3px;
  border-radius: 8px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;

  @media (max-width: 960px) {
    border-radius: 5px;
    margin: 2px;
    font-size: 12px;
    padding: 0 4px 0 8px;
  }

  &:active > * {
    opacity: 0.4;
  }

  & .index {
    margin-right: 4px;
  }

  & .text {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  & .count {
    margin-left: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 20px;
    padding: 0 8px;
    font-size: 12px;
    background: #fff;
    @media (max-width: 960px) {
      border-radius: 8px;
      height: 16px;
      padding: 0 8px;
      font-size: 10px;
    }
  }
}

.item {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 960px) {
    min-width: 140px;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid #e0e0e0;
  }

  &:active > * {
    opacity: 0.4;
  }
}

.preview {
  height: 130px;
  min-width: 130px;
  border-radius: 4px;
  background: #ccc;
  @media (max-width: 960px) {
    height: 120px;
    width: 120px;
    min-width: 120px;
    min-height: 120px;
  }
}

.itemInfo {
  margin-left: 10px;
  @media (max-width: 960px) {
    margin-left: 0;
    margin-top: 5px;
  }
}

.itemName,
.itemRestaurant {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  @media (max-width: 960px) {
    line-height: 16px;
  }
}

.itemPrice {
  color: green;
}

.itemDetail {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: #979797;
}

.itemTags {
  @extend .itemDetail;
  margin: 0 0 8px;
  max-height: 32px;
  overflow: hidden;
}
