:global .mapboxgl-ctrl-geolocate,
:global .mapboxgl-ctrl-bottom-right,
:global .mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.map {
  flex: 1;
  background: gray;
}

.marker {
  display: flex;
  cursor: pointer;
}

.bigMarker {
  z-index: 99;
  pointer-events: none;
}

.img {
  position: absolute;
  pointer-events: none;
}

.markerText {
  position: absolute;
  top: 100%;
  text-align: center;
  left: -20px;
  right: -20px;
  pointer-events: none;
}

.bigMarkerText {
  left: -80px;
  right: -80px;

  & .restaurant {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    pointer-events: none;
  }

  & .address {
    opacity: 1;
  }
}

.restaurant {
  pointer-events: auto;
  color: #000;
  font-size: 9px;
  line-height: 9px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.address {
  pointer-events: none;
  margin: 4px 0 0;
  color: #fff;
  opacity: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-shadow: -1px -1px 0 rgb(54, 54, 54), 1px -1px 0 rgb(54, 54, 54),
    -1px 1px 0 rgb(54, 54, 54), 1px 1px 0 rgb(54, 54, 54);
}
