:global .mapboxgl-ctrl-geolocate,
:global .mapboxgl-ctrl-bottom-right,
:global .mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.map {
  flex: 1;
  background: gray;
}

.marker {
  display: flex;
  cursor: pointer;
}

.bigMarker {
  z-index: 99;
}

.img {
  position: absolute;
  pointer-events: none;
}

.restaurant {
  position: absolute;
  top: 100%;
  text-align: center;
  color: #000;
  left: -20px;
  right: -20px;
  font-size: 9px;
  line-height: 9px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.rank {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -2px;
  border-radius: 9px;
  font-size: 11px;
  padding: 0 5px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigRank {
  top: -4px;
  right: -3px;
  border-radius: 12px;
  font-size: 18px;
  padding: 0 6px;
  height: 24px;
}
