@import "query.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
  width: 600px;
  @media (max-width: $wide) {
    width: 100%;
    height: 290px;
  }
}
